alembic==1.13.1
amqp==5.2.0
annotated-types==0.7.0
anyio==4.4.0
asttokens==2.4.1
bcrypt==4.0.1
beautifulsoup4==4.12.3
billiard==4.2.0
boto3==1.34.126
botocore==1.34.126
celery==5.4.0
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
contourpy==1.2.1
cryptography==42.0.8
cycler==0.12.1
diskcache==5.6.3
dnspython==2.6.1
ecdsa==0.19.0
email_validator==2.1.1
exceptiongroup==1.2.1
executing==2.0.1
Faker==25.8.0
fastapi==0.111.0
fastapi-cli==0.0.4
fonttools==4.53.0
greenlet==3.0.3
h11==0.14.0
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
icecream==2.1.3
idna==3.7
ImageHash==4.3.1
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.4.2
jwt==1.3.1
kiwisolver==1.4.5
kombu==5.3.7
Mako==1.3.5
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.0
mdurl==0.1.2
numpy==1.26.4
orjson==3.10.4
packaging==24.1
passlib==1.7.4
pillow==10.3.0
pixiv-utils==1.0.0
prompt_toolkit==3.0.47
psycopg2==2.9.9
pyasn1==0.6.0
pycparser==2.22
pydantic==2.7.3
pydantic_core==2.18.4
Pygments==2.18.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-jose==3.3.0
python-memcached==1.62
python-multipart==0.0.9
PyWavelets==1.6.0
PyYAML==6.0.1
requests==2.32.3
rich==13.7.1
rsa==4.9
s3transfer==0.10.1
scikit-learn==1.5.0
scipy==1.13.1
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1
soupsieve==2.5
SQLAlchemy==2.0.30
starlette==0.37.2
threadpoolctl==3.5.0
tqdm==4.66.4
typer==0.12.3
typing_extensions==4.12.2
tzdata==2024.1
ujson==5.10.0
urllib3==2.2.1
uvicorn==0.30.1
vine==5.1.0
watchfiles==0.22.0
wcwidth==0.2.13
websockets==12.0
